# Projeto Twitter BBB

- Projeto de importação e análise de dados do twitter em tempo real
- Biblioteca tweepy: https://docs.tweepy.org/en/stable/
- Cadastrar como desenvolvedor no Twitter Developer: https://developer.twitter.com/en

In [2]:
!pip install tweepy

import tweepy as tw
import pandas as pd

Collecting tweepy
  Downloading tweepy-4.6.0-py2.py3-none-any.whl (69 kB)
Collecting oauthlib<4,>=3.2.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
Collecting requests<3,>=2.27.0
  Using cached requests-2.27.1-py2.py3-none-any.whl (63 kB)
Collecting requests-oauthlib<2,>=1.2.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\users\angelica\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.8)
Collecting charset-normalizer~=2.0.0; python_version >= "3"
  Downloading charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in d:\users\angelica\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\users\angelica\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2021.5.30)
Installing collected packages: oauthlib, charset-normalizer, requests, requests-oauthlib, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
Successfully installed charset-normalizer-2.0.12 oauthlib-3.2.0 requests-2.27.1 requests-oauthlib-1.3.1 tweepy-4.6.0

In [3]:
#É preciso inserir chaves abaixo que ficam disponíveis 

bearer_token = ''
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

In [4]:
cliente = tw.Client(bearer_token=bearer_token, consumer_key=consumer_key, consumer_secret=consumer_secret, access_token=access_token, access_token_secret=access_token_secret)

In [5]:
start = '2022-03-06T19:15:01Z'
end = '2022-03-06T19:16:01Z'

In [6]:
resposta = cliente.search_recent_tweets(query='BBB',max_results=100,start_time=start,end_time=end)

In [7]:
dados = resposta.data

In [8]:
base = []

In [9]:
for i in dados:
    
    linha = [0 for j in range(22)]
    
    linha[0] = i.text
    
    texto = i.text
    
    if('RT' in texto):
        posicao = texto.find(':')
        texto = texto[posicao+2:]
        linha[21] = 1
        
    linha[1] = 1 if ('laís caldas' in texto.lower() or 'lais caldas' in texto.lower() or 'laís' in texto.lower() or 'lais' in texto.lower()) else 0
    linha[2] = 1 if ('luciano estavan' in texto.lower() or 'luciano' in texto.lower()) else 0
    linha[3] = 1 if ('jessilane alves' in texto.lower() or 'jessilane' in texto.lower()) else 0
    linha[4] = 1 if ('eliezer' in texto.lower()) else 0
    linha[5] = 1 if ('eslovênia marques' in texto.lower() or 'eslovênia' in texto.lower() or 'eslovenia marques' in texto.lower() or 'eslovenia' in texto.lower()) else 0
    linha[6] = 1 if ('lucas bissoli' in texto.lower() or 'lucas' in texto.lower()) else 0
    linha[7] = 1 if ('bárbara heck' in texto.lower() or 'bárbara' in texto.lower() or 'barbara heck' in texto.lower() or 'barbara' in texto.lower()) else 0
    linha[8] = 1 if ('arthur aguiar' in texto.lower() or 'arthur' in texto.lower()) else 0
    linha[9] = 1 if ('rodrigo' in texto.lower()) else 0
    linha[10] = 1 if ('natália' in texto.lower() or 'natalia' in texto.lower()) else 0
    linha[11] = 1 if ('vinícius' in texto.lower() or 'vinicius' in texto.lower() or 'vyni' in texto.lower()) else 0
    linha[12] = 1 if ('pedro scooby' in texto.lower() or 'pedro' in texto.lower()) else 0
    linha[13] = 1 if ('brunna gonçalves' in texto.lower() or 'brunna' in texto.lower() or 'brunna goncalves' in texto.lower()) else 0
    linha[14] = 1 if ('paulo andré' in texto.lower() or 'paulo' in texto.lower() or 'paulo andre' in texto.lower()) else 0
    linha[15] = 1 if ('maria' in texto.lower()) else 0
    linha[16] = 1 if ('jade picon' in texto.lower() or 'jade' in texto.lower()) else 0
    linha[17] = 1 if ('douglas silva' in texto.lower() or 'douglas' in texto.lower()) else 0
    linha[18] = 1 if ('linn da quebrada' in texto.lower() or 'linn' in texto.lower()) else 0
    linha[19] = 1 if ('tiago abravanel' in texto.lower() or 'tiago' in texto.lower()) else 0
    linha[20] = 1 if ('naiara azevedo' in texto.lower() or 'naiara' in texto.lower()) else 0  
    
    base.append(linha)

In [10]:
baseBBB = pd.DataFrame(base)
baseBBB.columns = ['texto','lais','luciano','jessilane','eliezer','eslovênia','lucas','bárbara','arthur','rodrigo','natália','vinícius','scooby','brunna','paulo','maria','jade','douglas','lina','tiago','naiara','RT']
display(baseBBB)

,texto,lais,luciano,jessilane,eliezer,eslovênia,lucas,bárbara,arthur,rodrigo,...,scooby,brunna,paulo,maria,jade,douglas,lina,tiago,naiara,RT
0,RT @theisabelinha: JADE PICON ATENDEU O BIGFON...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,RT @iamandabc: e a jade que dançou un ratito a...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,@Dantinhas Mas o @bbb já virou reality nutell...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,RT @Dudu: Boninho largou com Deus o BBB foi at...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,RT @JerzySkoczylas: Żart rosyjski: rating Rosj...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"RT @AcervoReaShow: empina \n*tapa* \naiiii, qu...",0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
96,@teachermip @bbb Eu disse bate e volta. É que ...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
97,RT @LucasRanngel: hj minha paciência ta igual ...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98,@jadepicon A soberba de @jadepicon a cegou poi...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
99,o jogo da discórdia semana que vem será atravé...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
baseView = baseBBB.drop(['texto','RT'],axis=1)

In [12]:
comentarios = baseView.sum().sort_values(ascending=False).to_list()

In [13]:
participantes = baseView.sum().sort_values(ascending=False).index.to_list()

In [14]:
base2 = pd.DataFrame(zip(participantes,comentarios))
base2.columns = ['pessoas','comentarios']
display(base2)

      pessoas  comentarios
0        jade           35
1      arthur           32
2     rodrigo            5
3     natália            3
4        lais            3
5   jessilane            2
6       paulo            1
7     eliezer            1
8       maria            0
9      brunna            0
10     scooby            0
11   vinícius            0
12      tiago            0
13    douglas            0
14       lina            0
15    bárbara            0
16      lucas            0
17  eslovênia            0
18    luciano            0
19     naiara            0

In [15]:
total_comentarios = base2['comentarios'].sum()

In [16]:
base2['perc'] = base2['comentarios']/total_comentarios
display(base2)

      pessoas  comentarios      perc
0        jade           35  0.426829
1      arthur           32  0.390244
2     rodrigo            5  0.060976
3     natália            3  0.036585
4        lais            3  0.036585
5   jessilane            2  0.024390
6       paulo            1  0.012195
7     eliezer            1  0.012195
8       maria            0  0.000000
9      brunna            0  0.000000
10     scooby            0  0.000000
11   vinícius            0  0.000000
12      tiago            0  0.000000
13    douglas            0  0.000000
14       lina            0  0.000000
15    bárbara            0  0.000000
16      lucas            0  0.000000
17  eslovênia            0  0.000000
18    luciano            0  0.000000
19     naiara            0  0.000000

In [17]:
base2['perc_acum'] = base2['perc'].cumsum()
display(base2)

      pessoas  comentarios      perc  perc_acum
0        jade           35  0.426829   0.426829
1      arthur           32  0.390244   0.817073
2     rodrigo            5  0.060976   0.878049
3     natália            3  0.036585   0.914634
4        lais            3  0.036585   0.951220
5   jessilane            2  0.024390   0.975610
6       paulo            1  0.012195   0.987805
7     eliezer            1  0.012195   1.000000
8       maria            0  0.000000   1.000000
9      brunna            0  0.000000   1.000000
10     scooby            0  0.000000   1.000000
11   vinícius            0  0.000000   1.000000
12      tiago            0  0.000000   1.000000
13    douglas            0  0.000000   1.000000
14       lina            0  0.000000   1.000000
15    bárbara            0  0.000000   1.000000
16      lucas            0  0.000000   1.000000
17  eslovênia            0  0.000000   1.000000
18    luciano            0  0.000000   1.000000
19     naiara            0  0.000000   1.000000

In [18]:
base2['perc_form'] = base2['perc'].map("{:.1%}".format)
base2['perc_acum_form'] = base2['perc_acum'].map("{:.1%}".format)
display(base2)

      pessoas  comentarios      perc  perc_acum perc_form perc_acum_form
0        jade           35  0.426829   0.426829     42.7%          42.7%
1      arthur           32  0.390244   0.817073     39.0%          81.7%
2     rodrigo            5  0.060976   0.878049      6.1%          87.8%
3     natália            3  0.036585   0.914634      3.7%          91.5%
4        lais            3  0.036585   0.951220      3.7%          95.1%
5   jessilane            2  0.024390   0.975610      2.4%          97.6%
6       paulo            1  0.012195   0.987805      1.2%          98.8%
7     eliezer            1  0.012195   1.000000      1.2%         100.0%
8       maria            0  0.000000   1.000000      0.0%         100.0%
9      brunna            0  0.000000   1.000000      0.0%         100.0%
10     scooby            0  0.000000   1.000000      0.0%         100.0%
11   vinícius            0  0.000000   1.000000      0.0%         100.0%
12      tiago            0  0.000000   1.000000      0.0%         100.0%
13    douglas            0  0.000000   1.000000      0.0%         100.0%
14       lina            0  0.000000   1.000000      0.0%         100.0%
15    bárbara            0  0.000000   1.000000      0.0%         100.0%
16      lucas            0  0.000000   1.000000      0.0%         100.0%
17  eslovênia            0  0.000000   1.000000      0.0%         100.0%
18    luciano            0  0.000000   1.000000      0.0%         100.0%
19     naiara            0  0.000000   1.000000      0.0%         100.0%

In [19]:
display(base2[['pessoas','comentarios','perc_form','perc_acum_form']])

      pessoas  comentarios perc_form perc_acum_form
0        jade           35     42.7%          42.7%
1      arthur           32     39.0%          81.7%
2     rodrigo            5      6.1%          87.8%
3     natália            3      3.7%          91.5%
4        lais            3      3.7%          95.1%
5   jessilane            2      2.4%          97.6%
6       paulo            1      1.2%          98.8%
7     eliezer            1      1.2%         100.0%
8       maria            0      0.0%         100.0%
9      brunna            0      0.0%         100.0%
10     scooby            0      0.0%         100.0%
11   vinícius            0      0.0%         100.0%
12      tiago            0      0.0%         100.0%
13    douglas            0      0.0%         100.0%
14       lina            0      0.0%         100.0%
15    bárbara            0      0.0%         100.0%
16      lucas            0      0.0%         100.0%
17  eslovênia            0      0.0%         100.0%
18    luciano            0      0.0%         100.0%
19     naiara            0      0.0%         100.0%